/***********************************Element styles**********************************/
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
i{
    color : black;
}


/***********************************Class styles**********************************/
.left-side{
    float: left;
}

.right-side{
    float: right;
}