/***********************************Element styles**********************************/
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/dog_wallpaper.jpeg");
    background-size: cover;
    background-position: center center;
}
a{
    text-decoration: none;
}
i{
    color : black;
    font-size: 30px;
}


/***********************************Class styles**********************************/
.left-side{
}

.right-side{
    float: right;
}

.top-product{
    flex: 1;
}

.top-product img{
    width: 260px;
    height: 240px;
}

/***********************************Id styles**********************************/
#content{
    width: 60%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);

}

#title h1{
    font-size: 50px;
}

#top-products{
    display: flex;
}