/***********************************Element styles**********************************/
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/dog_wallpaper.jpeg");
    background-size: cover;
    background-position: center center;
}
a{
    text-decoration: none;
    color:inherit;
}
i{
    color : black;
    font-size: 30px;
}

hr{
    margin: 0;
}

/***********************************Class styles**********************************/
.right-side{
    margin-left: auto;
}

.inline-element{
    display: inline-block;
}

.top-product{
    width: 28%;
    padding-top: 15%;
    background-image: url("../images/product_images/dog_cage.jpg");
    background-size: 100% 100%;
    position: relative;
}

.top-product + .top-product{
    margin-left: 4%;
}

.top-product:hover{
    opacity: 0.9;
}

.top-product p{
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/***********************************Id styles**********************************/
#navbar{
    display: flex;
    justify-content: space-around;
}

#content{
    width: 60%;
    margin: 0 auto;

}

#title{
    background-color: rgba(255,255,255,0.7);
    padding: 15px;
}

#title h1{
    font-size: 50px;
}

#title h4{
    margin-bottom: 0;
}

#products{
    background-color: rgba(255,255,255,0.3);
    padding: 15px;
}

#products h2{
    margin-top: 0;
}

#top-products{
    text-align: center;
}

#cart-number{
    width: 20px;
    border-radius: 30px;
    background-color: red;
    text-align: center;
    color: white;
}